.modal {
    position: fixed;
    inset: 0;
    z-index: 1035;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: var(--modal-backdrop-bg);

    &__inner {
        width: 520px;
        max-width: 100%;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid var(--modal-border-color);
        background: var(--modal-content-bg);
    }
}
